@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-position: inside;
}

ol li {
  list-style-position: inside;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

p, a, span, li {
  line-height: 1.2;
}

/*--------------------*/
* {
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;
}

.select__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px 24px;
}

@media (max-width: 500px) {
  .select__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.select {
  width: 100%;
  position: relative;
}

.select._open .select__dropdown {
  pointer-events: all;
  opacity: 1;
}

.select__input {
  height: 42px;
}

.select__input input {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0 12px;
}

.select__input-chevron {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 16px;
  height: 16px;
}

.select__dropdown {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  width: 100%;
  max-height: 200px;
  background: #fff;
  border: 1px solid #cecece;
  -webkit-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
}

.select__dropdown-title {
  display: inline-block;
  font-size: 13px;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.6);
}

.select__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px 0;
}

.select__item {
  display: none;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.select__item:hover {
  background-color: #cacaca;
}

.select__item._selected {
  color: blue;
}

.select__item._show {
  display: inline-block;
}

.price {
  font-size: 32px;
  margin-top: 32px;
}
